slider {
	display: block;
	position: relative;

	img.slider-image-1, img.slider-image-2 {
		display: block;
		left: 0;
		position: absolute;
		top: 0;
	}

	img.slider-image-1 {
		z-index: 1;
	}

	img.slider-image-2 {
		z-index: 0;
	}

	testimonials {
		@include overlay();
		border-radius: $spacer/2;
		bottom: $spacer * 5;
		left: $spacer * 54;
		height: 35%;
		width: 45%;
	}

	.overlay {
		@include overlay();
		right: 0;
		height: 100%;
		padding-top: $spacer*2;
		top: 0;
		width: 45%;
	}
}