/* cyrillic-ext */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/ODszJI8YqNw8V2xPulzjO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/iQ9VJx1UMASKNiGywyyCXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/WkvQmvwsfw_KKeau9SlQ2_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/gYAtqXUikkQjyJA1SnpDLvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

$spacer: 10px;
$overlayBackground: rgba(0, 0, 0, 0.7);

body, html {
	background-color: rgba(220, 220, 220, 1);
	border: none;
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body>header {
	background-color: $overlayBackground;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

body>footer {
	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
}

.logo {
	margin-top: $spacer * 1.5;
	margin-bottom: $spacer;
	width: 80%;
}

main {
	overflow: auto;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

.hidden {
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: -9999;
}

slider {
	display: block;
	position: relative;

	img.slider-image-1, img.slider-image-2 {
		display: block;
		left: 0;
		position: absolute;
		top: 0;
	}

	img.slider-image-1 {
		z-index: 1;
	}

	img.slider-image-2 {
		z-index: 0;
	}

	testimonials {
		background-color: $overlayBackground;
		border-radius: $spacer/2;
		bottom: $spacer * 5;
		color: rgba(255, 255,255, 1);
		left: $spacer * 54;
		height: 35%;
		overflow: hidden;
		padding: 20px;
		position: absolute;
		width: 45%;
		z-index: 3;
	}
}

main article {
	background-color: rgba(255, 255, 255, 1);
	color: black;
	padding-top: $spacer;
	width: 100%;
}

header nav {
	display: table;

	.top-menu {
		display: table-cell;
		margin: 0;
		vertical-align: middle;
		width: 40%;

		&.top-menu-right {
			text-align: right;
		}

		li {
			color: white;
			display: inline-block;
			font-weight: 600;
			margin-right: $spacer * 2;
			text-align: center;

			a, a:hover {
				color: white;
				font-weight: 600;
			}
		}
	}

	.logo-wrap {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 30%;
	}
}

footer {
	.footer-main {
		background-color: rgba(30, 30, 30, 1);
		font-size: 1.4em;

		.footer-main-block1, .footer-main-block2, .footer-main-block3 {
			line-height: 1.4em;
			padding-top: $spacer / 2;
			padding-bottom: $spacer / 2;
		}

		.footer-main-block1 {
			text-align: left;

			.logo {
				height: 1.2em;
				margin: 0;
				width: auto;
			}
		}

		.footer-main-block2 {
			line-height: 1.4em;
			text-align: center;
		}

		.footer-main-block3 {
			ul {
				float: right;
			}
		}
	}
}

.copyright-notice {
	font-size: 0.6em;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	text-align: center;

	a, a:visited {
		color: rgba(0, 0, 0, 1);

		&:hover {
			color: rgba(30, 30, 30, 1);
		}
	}
}

#menu-social.menu>li>a {
	display: initial;
	padding: 0.7rem;
}

#menu-social.menu {
	&>li>a {
		display: initial;
		padding: 0.7rem;

		&, &:visited {
			color: rgba(190, 190, 190, 1);

			&:hover {
				color: rgba(240, 240, 240, 1);
			}
		}
	}
}

.homepage-section-blocks {
	background-color: rgba(245, 245, 245, 1);
	border-bottom: 1px solid rgba(220, 220, 220, 1);
	margin-bottom: $spacer * 4;
	margin-top: $spacer * -1;
	padding-top: $spacer;

	h2 {
		font-size: 1.5em;
	}

	.columns {
		text-align: center;
	}
}

.featherlight-content {
	position: relative;

	.overlay {
		bottom: $spacer * 2;
		background-color: $overlayBackground;
		color: #fdfdfd;
		font-size: $spacer * 1.5;
		height: $spacer *4;
		left: $spacer * 3;
		padding: $spacer;
		padding-top: $spacer;
		position: absolute;
	}
}

gallery {
	position: relative;

	a {
		display: inline-block;
		position: relative;

		.overlay {
			bottom: $spacer * 2;
			background-color: $overlayBackground;
			color: #fdfdfd;
			font-size: $spacer * 1.5;
			height: $spacer *4;
			left: $spacer;
			padding: $spacer;
			padding-top: $spacer;
			position: absolute;
		}

		&:hover {
			.overlay {
				background-color: rgba($overlayBackground, 1);
				color: #ffffff;
			}

			img {
				opacity: 0.7;
			}
		}
	}

	img {
		margin-right: $spacer;
		margin-bottom: $spacer;

		&.last {
			margin-right: 0;
		}
	}

	&:after {
		clear: both;
		content: " ";
		display: block;
	}
}

main>gallery {
	padding-right: $spacer;

	img {
		margin-left: $spacer;
		margin-right: 0;
		margin-bottom: 0;
	}
}

.featherlight-image.featherlight-inner {
	max-height: 90vh;
	max-width: 90vw;
}