@import "variables";

body, html {
	background-color: $bodyBackround;
	border: none;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.off-canvas-content>header, body>header {
	background-color: $overlayBackground;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.off-canvas-content>footer, body>footer {
	background-color: $footerBackground;
	color: $white;
}

.logo {
	margin-top: $spacer * 1.5;
	margin-bottom: $spacer;
	width: 100%;
}

main {
	overflow: auto;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

.hidden {
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: -9999;
}

main article {
	background-color: $contentBackground;
	color: $black;
	padding-top: $spacer;
	width: 100%;
}

#off-canvas-content {
	.top-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			background-color: $white;
			color: $black;
			margin: 0;
			padding: 0;

			&:hover, a:hover {
				background-color: $darkGrey;
				color: $white;
			}

			a {
				color: $black;
				display: block;
				height: 100%;
				padding: $spacer;
				border-bottom: 1px solid $mediumGrey;
				width: 100%;
			}
		}
	}
}

.small-overlay {
	border-bottom: 1px solid #cacaca;
	margin-bottom: $spacer * 2;
	padding-bottom: $spacer * 2;

	&:empty {
		display: none;
	}
}

header nav {
	display: table;

	.top-menu {
		display: table-cell;
		margin: 0;
		vertical-align: middle;

		width: 40%;

		@media screen and (min-width: 40em) and (max-width: 63.9375em) {
			font-size: 75%;
		}

		&.top-menu-left {
			text-align: right;
		}

		&.top-menu-right {
			text-align: left;
		}

		li {
			color: $white;
			display: inline-block;
			font-weight: 600;
			margin-right: $spacer;
			margin-left: $spacer;
			text-align: center;

			a, a:hover {
				color: $white;
				font-weight: 600;
			}
		}
	}

	.menu-button-wrapper {
		display: table-cell;
		text-align: left;
		vertical-align: middle;
		width: auto;
	}

	.logo-wrap {
		display: table-cell;
		padding-left: $spacer;
		padding-right: $spacer;
		text-align: center;
		vertical-align: middle;
		width: 20%;

		@media screen and (max-width: 39.9375em) {
			width: auto;

			.logo {
				width: 90%;
			}
		}
	}
}

footer {
	.footer-main {
		background-color: $black;
		font-size: 1.4em;

		.footer-main-block1, .footer-main-block2, .footer-main-block3 {
			line-height: 1.4em;
			padding-top: $spacer / 2;
			padding-bottom: $spacer / 2;
		}

		.footer-main-block1 {
			text-align: left;

			.logo {
				height: 1.2em;
				margin: 0;
				width: auto;
			}
		}

		.footer-main-block2 {
			line-height: 1.4em;
			text-align: center;
		}

		.footer-main-block3 {
			ul {
				float: right;
			}
		}
	}
}

.copyright-notice {
	font-size: 0.6em;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	text-align: center;

	a, a:visited {
		color: $black;

		&:hover {
			color: lighten($black, 10%);
		}
	}
}

#menu-social.menu>li>a {
	display: initial;
	padding: 0.7rem;
}

#menu-social.menu {
	&>li>a {
		display: initial;
		padding: 0.7rem;

		&, &:visited {
			color: $mediumGrey;

			&:hover {
				color: lighten($mediumGrey, 20%);
			}
		}
	}
}

.homepage-section-blocks {
	background-color: $lightGrey;
	border-bottom: 1px solid $grey;
	margin-bottom: $spacer * 4;
	margin-top: $spacer * -1;
	padding-top: $spacer;

	h2 {
		font-size: 1.5em;
	}

	.columns {
		text-align: center;
	}
}

.featherlight-content {
	position: relative;

	.overlay {
		@include overlay();
		bottom: $spacer * 2;
		font-size: $spacer * 1.5;
		height: $spacer *4;
		left: $spacer * 3;
		padding: $spacer;
	}
}

main>gallery {
	img {
		margin-bottom: 0;
	}
}

main>.gallery-parent {
	padding: 0;
}

.featherlight-image.featherlight-inner {
	max-height: 90vh;
	max-width: 90vw;
}